<template>
    <div>
        <p>Component B</p>
        <component-c />
    </div>
</template>

<script>
import ComponentC from './ComponentC.vue';
    export default {
        name:'ComponentB',
        components: {
            ComponentC,
        },
    }
</script>